<!DOCTYPE html>
<html>
    <head>
        <title>Photo-to-speech: MAP</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <link rel="shortcut icon" href="#" />


    </head>
    <body>
        <div id="map"></div>
        <script type="text/javascript">
            // var latitude =  35.1796
            // var longitude = 129.0756

            var lat_lon = {{ lat_lon }}
            var latitude = lat_lon[3][0]
            var longitude = lat_lon[3][1]

        </script>
        <script src= '/static/env.js'></script>
        <script src="/static/app.js"></script>
    </body>
</html>



